.lost_items {
    /*padding: 5% 0;*/
    margin: 5% 0;
}


.left {
    width: 60%;
    height: 150px;
    float: left;
    border: 1px solid darkgreen;
}

.right {
    width: 40%;
    height: 150px;
    float: right;
    border: 1px solid #f5b7b1;
}

.lost_img {
    width: 130px;
    height: 130px;
}

.title {
    color: #434d58;
    font-weight: bold;
    font-size: 21pt;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid #8c8c8c;
}

#create_page {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #59A8D9;
    border: solid #59A8D9;
    position: relative;
    left: 40px;
    top: 420px;
}

#create_page > img {
    width: 6px;
    height: 6px;
    z-index: 2;
    position: absolute;
    /*left: 5px;*/
    /*top: 5px;*/
    /*bottom: 10px;*/
    /*object-fit: cover;*/
}

.pagination {
    border: 1px solid red;
    position: relative;
    top: 450px;
    right: 80px;
}

/*#post {*/
/*    width: 60px;*/
/*    height: 60px;*/
/*}*/
