.lost_items {
    margin: 0 5%;
}


.left {
    width: 60%;
    height: 150px;

    /* float: left; */
    display: inline-block;
    font-size: small;
    /*border: 1px solid darkgreen;*/
}

.right {   
    width: 40%;
    height: 150px;
    float: right;
    border: 1px solid #f5b7b1;
}

.lost_img {
    width: 130px;
    height: 130px;
}

.title {
    color: #4e73df;
    font-weight: bold;
    font-size: large;
}

<<<<<<< HEAD
hr {
    border: 0;
    height: 0;
    border-top: 1px solid #8c8c8c;
}

#create_page {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #59A8D9;
    border: solid #59A8D9;
    position: relative;
    left: 40px;
    top: 420px;
}

#create_page > img {
    width: 6px;
    height: 6px;
    z-index: 2;
    position: absolute;
    /*left: 5px;*/
    /*top: 5px;*/
    /*bottom: 10px;*/
    /*object-fit: cover;*/
}

.pagination {
    border: 1px solid red;
    position: relative;
    top: 450px;
    right: 80px;
=======

.pagination {
    margin: auto;
>>>>>>> master
}

.post {
    float: right;
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 20px;
    height: 20px;
}

.post img{
    width: 20px;
    height: 20px;
}

#post{
    display: inline-block;
    position: sticky;
    width: 20px;
    border: 1px solid #c9cbd7;
}

#post:hover{
    background-color: #c9cbd7;
}

.wrapper{
    margin: 0 10%;
}

.cost{
    font-size: medium;
    color: black;
}