[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/anaconda3/envs/service/bin/uwsgi\
 -i /home/ubuntu/WEB_SERVICE_ACHACHA/achacha_django/.config/uwsgi/achacha.ini

Restart=always
KillSignal=SIGQUIT
Type=notify

StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
