{% extends 'base/base.html' %}
{% block content %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'acha_money/css/base.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
{% if user.is_authenticated %}
    <a href={% url 'post' %} class="post">
        <img id="post" class="img-profile rounded-circle" src="{% static 'acha_money/img/pen_white.png' %}">
    </a>

    <div class="container-fluid">
        {% if not posts %}
            <p>작성된 게시글이 없습니다.</p>
        {% else %}
        <div class="row">
            {% for item in posts %}
            <div class="card_search" onclick="location.href='{% url 'detail' item.posts_id_pk %}'">
                {% if item.img_src %}
                <div class="image_center">
                    <img class="lost_img" src="{{ item.img_src.url }}" alt="image">
                </div>
                {% else %}
                <div class="image_center">
                    <img class="lost_img" src="{% static 'bootstrap/img/no_image.png' %}" alt="no image">
                </div>
                {% endif %}
                <br>
                <div class="info">
                    <div class="title">{{ item.title }}</div>
                    <span class="date_time">{{ item.created_at }}</span>
                    <br>
                    <span class="get_place">{{ item.get_place }}</span>
                    <br>
                    <span class="cost">{{ item.cost }} 원</span>
                </div>
                <hr>
            </div>
            {% endfor %}
        </div>
    </div>

    {% endif %}




<!-- pagination -->
    <div class="pagination">
        <ul class="pagination">
            {% if posts.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ 1 }}">&lt;&lt;</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{posts.previous_page_number}}">&lt;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">&lt;</a>
            </li>
            {% endif %}
            <!-- 페이지리스트 -->
            {% for page_number in posts.paginator.page_range %}
            {% if page_number >= posts.number|add:-3 and page_number <= posts.number|add:3 %}
            {% if page_number == posts.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if posts.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ posts.next_page_number }}">&gt;</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ max_index }}">&gt;&gt;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">&gt;</a>
            </li>
            {% endif %}
        </ul>
    </div>
{% else %}
<!-- <meta http-equiv="refresh" content="0;url=/member/login/"> -->

<div class="container-fluid">
    <div class="row">
        <div class="card border-left-warning shadow w-100 py-2" id="login">
            <div class="card-body">
                <div class="text-lg font-weight-bold text-warning text-uppercase mb-1">ACHACHA</div>
                <p class="card-text">로그인을 해주세요</p>
                <a href="/member/login" class="btn btn-primary">로그인 하러가기</a>
            </div>
        </div>
        <div class="card border-left-warning shadow w-100 py-2" style="margin-bottom: 5px;">
            <div class="card-body">
                <div class="text-lg font-weight-bold text-warning text-uppercase mb-1">ACHACHA</div>
                <p class="card-text">아직 회원이 아니라면 회원가입을 해주세요</p>
                <a href="/member/register" class="btn btn-primary">회원가입 하러가기</a>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}

</body>


</html>