{% extends 'base/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% block css %}
        <link href="{% static 'acha_money/css/base.css' %}" rel="stylesheet" type="text/css">
    {% endblock %}
</head>

<body>


{% block content %}
    {% if not posts %}
        <p>작성된 게시글이 없습니다.</p>
    {% else %}
        {% for item in posts %}
        <div class="lost_items">
            <div class="col-lg-6 mb-4" onclick="location.href='{% url 'detail' item.posts_id_pk %}'">

                {% if item.img_src %}
                <div class="left">
                    <img class="lost_img" src="{{ item.img_src.url }}">
                </div>
                {% endif %}
                <div class="right">
                    <div class="title">{{ item.title }}</div>
                    <span class="date_time">{{ item.created_at }}</span>
                    <br>
                    <span class="cost">{{ item.cost }} 원</span>
                    <br>
                    <span class="get_place">보관장소 : {{ item.get_place }}</span>
                </div>
            </div>

        </div>
        {% endfor %}
    {% endif %} 
    <hr>
    <button id="create_page">
        <a href={% url 'post' %}>
            <img id="post" src="{% static 'acha_money/img/pen.png' %}">
        </a>
    </button>
{#    <a href="?page1">처음</a>#}

    <div class="pagination">
        {% if posts.has_previous %}
            <a href="?page={{posts.previous_page_number}}">이전</a>
        {% endif %}

        {% for p in posts.paginator.page_range %}
            <a href="?page={{p}}" class="mx-1">{{p}}</a>
        {% endfor %}

        {% if posts.has_next %}
                <a href="?page={{posts.next_page_number}}">다음</a>
        {% endif %}
    </div>





{% endblock %}

</body>


</html>

