{% extends 'base/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% block css %}
        <link href="{% static 'acha_money/css/post_detail.css' %}" rel="stylesheet" type="text/css">
    {% endblock %}
</head>
<body>
{% block content %}
    {% for item in detail %}
        <div class="detail">
            <div class="title">{{ item.title }}</div>
            <div class="author"></div>
            {% if item.img_src %}
                <img class="lost_img" src="{{ item.img_src.url }}"><br>
            {% endif %}
            <p>카테고리: {{ item.category }}</p>
            <p>사례금: {{ item.cost }} 원</p>
            <p>택배 : {{ item.parcel }}</p>
            <div class="content">{{ item.content }}</div>
        </div>
    {% endfor %}
{% endblock %}
</body>
</html>