{% extends 'base/base.html' %}
{% block content %}
{% load static %}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link href="{% static 'acha_money/css/base.css' %}" rel="stylesheet" type="text/css">
    <!-- JQuery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
<!-- filter !-->
<br>
<form method="GET" action=".">
    <div class="form-row">
        <div class="input-group">
            <!-- <label for="input_category">Category</label> -->
            <select id="input_category" class="form-control" name="category">
                <option selected disabled>카테고리</option>
                <option value="지갑">지갑</option>
                <option value="가방">가방</option>
                <option value="유가증권&현금">유가증권&현금</option>
                <option value="전자기기">전자기기</option>
                <option value="신분증&카드">신분증&카드</option>
                <option value="자동차">자동차</option>
                <option value="컴퓨터">컴퓨터</option>
                <option value="의류">의류</option>
                <option value="도서용품&서류">도서용품&서류</option>
                <option value="스포츠">스포츠</option>
            </select>
        </div>
        <div class="input-group">
            <input class="form-control py-2 border" type="search" name="name" id="input_name" placeholder="분실자명">
        </div>   
        <button type="button" onclick="search()" class="btn btn-primary">검색</button>
    </div>
</form>
<br>
<!-- filter !-->
    <div class="container-fluid">
        <div class="row" >
            {% for item in posts %}
            <div class="card_search" onclick="location.href='{% url 'all_detail' item.lost_items_id_pk %}'">
                {% if item.lost_items_id_pk %}
                <div class="image_center">
                    <img class="lost_img" src="{% get_static_prefix %}image/{{ item.lost_items_id_pk }}.jpg" alt="image" onerror=this.src="../../static/bootstrap/img/no_image.png">
                </div>
                {% else %}
                <div class="image_center">
                    <img class="lost_img" src="{% static 'bootstrap/img/no_image.png' %}" alt="no image">
                </div>
                {% endif %}
                <br>
                <div class="info">
                    <div class="title">{{ item.get_name }}</div>
                    <span class="date_time">{{ item.get_at }}</span>
                    <br>
                    <span class="get_place">{{ item.category }}</span>
                    <br>
                    <span class="cost">{{ item.get_place }}</span>
                </div>
                <hr>
            </div>
            
            {% endfor %}
        </div>
        <div class="alarm">
        혹시 찾으시는 분실물이 없으신가요?<br>
        비슷한 물건 들어왔을 때 <a href="{% url 'all_alarm' %}">알림받기</a>
        </div>
    </div>
</form>

<!-- pagination -->
    <div class="pagination">
        <ul class="pagination">
            {% if posts.has_previous %}
            <li class="page-item">
                <!-- <a class="page-link" href="?page={{ 1 }}">&lt;&lt;</a> -->
                <a class="page-link" onclick="pagefirst()">&lt;&lt;</a>
            </li>
            <li class="page-item">
                <!-- <a class="page-link" href="?page={{posts.previous_page_number}}">&lt;</a> -->
                <a class="page-link" onclick="pagebf()">&lt;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">&lt;</a>
            </li>
            {% endif %}
            <!-- 페이지리스트 -->
            {% for page_number in posts.paginator.page_range %}
            {% if page_number >= posts.number|add:-3 and page_number <= posts.number|add:3 %}
            {% if page_number == posts.number %}
            <li class="page-item active" aria-current="page" id="current">
                <!-- <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a> -->
                <a class="page-link" onclick="pagemv(this)">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <!-- <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a> -->
                <a class="page-link"onclick="pagemv(this)">{{ page_number }}</a>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if posts.has_next %}
            <li class="page-item">
                <!-- <a class="page-link" href="?page={{ posts.next_page_number }}">&gt;</a> -->
                <a class="page-link" onclick="pagenx()">&gt;</a>
            </li>
            <li class="page-item">
                <!-- <a class="page-link" href="?page={{ max_index }}">&gt;&gt;</a> -->
                <a class="page-link" onclick="pagelast()">&gt;&gt;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">&gt;</a>
            </li>
            {% endif %}
        </ul>
    </div>


{% endblock %}

</body>

</html>
