{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            margin: 0;
        }
        .lost_img{
            width: 130px;
        }
        .title{
            font-size: large;
            font-weight: bold;
            height: 15px;
        }
        table{
            font-size: small;
        }
        
    </style>
</head>
<body>
    <div class="lost_items">
        <div class="col-lg-6 mb-4">
            <div class="right">
                <table>
                    {% for item in posts %}
                    <tbody>
                        <tr>
                            <td><a href="{% url 'all_detail' item.lost_items_id_pk %}">
                                <span class="title">
                                {{ item.get_name }}</span></a></td>
                            <td class="lost_img" rowspan="4">
                            {% if item.img_src %}
                            <div class="left">
                            {#<img class="lost_img" src="{{}}">#}
                            </div>
                            {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td><span class="date_time">{{ item.get_at }}</span></td>
                        </tr>
                        <tr>
                            <td><span class="cost">{{ item.category }}</span></td>
                        </tr>
                        <tr class="get_place" style="border-bottom: 1px solid #dddfeb;">
                            <td><span class="get_place">{{ item.get_place }}</span></td>
                        </tr>
                        
                    </tbody>
                {% endfor %}
               
                </table>
            </div>
        </div>
    </div>
<!-- 페이지네이션 !-->
        <div class="container">
            <div class="row">
				<div class="col">
					<ul class="pagination">
                        {% if posts.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{posts.previous_page_number}}">&lt;</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">&lt;</a>
                        </li>
                        {% endif %}
                        <!-- 페이지리스트 -->
                        {% for page_number in posts.paginator.page_range %}
                        {% if page_number >= posts.number|add:-3 and page_number <= posts.number|add:3 %}
                        {% if page_number == posts.number %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        <!-- 다음페이지 -->
                        {% if posts.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ posts.next_page_number }}">&gt;</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">&gt;</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

</body>
</html>