{% extends 'base/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block content %}
    {% for item in posts %}
    <div class="lost_items">
        <div class="col-lg-6 mb-4"">
            {% if item.img_src %}
            <div class="left">
{#                <img class="lost_img" src="{{}}">#}
            </div>
            {% endif %}
            <div class="right">
                <div class="title">{{ item.get_name }}</div>
                <span class="date_time">{{ item.get_at }}</span>
                <br>
                <span class="cost">{{ item.category }}</span>
                <br>
                <span class="get_place">보관장소 : {{ item.get_place }}</span>
            </div>
        </div>
    </div>
    {% endfor %}

     <div class="pagination">
        {% if posts.has_previous %}
            <a href="?page={{posts.previous_page_number}}">이전</a>
        {% endif %}

        {% for p in posts.paginator.page_range %}
            <a href="?page={{p}}" class="mx-1">{{p}}</a>
        {% endfor %}

        {% if posts.has_next %}
                <a href="?page={{posts.next_page_number}}">다음</a>
        {% endif %}
    </div>
{% endblock %}

</body>
</html>