{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .lost_img{
            width: 300px;
            border: 10px solid #000000;
            color: #fafafa;
        }
        .table-bordered{
            boarder: 3px solid #000000;
        }
    </style>
</head>
<body>


<div class="lost_items">
    <table class="table table-bordered" id="dataTable">
    {% for item in lost_items_list %}
    <tbody>
        <tr>
            <td class="lost_img" rowspan="8">
            {% if item.img_src %}
            <div class="left">
            {#<img class="lost_img" src="{{}}">#}
            </div>
            {% endif %}
            </td>
            <td><span class="title">분실물명 : {{ item.get_name }}</span></td>
        </tr>
        <tr>
            <td><span class="date_time">분실시간 : {{ item.get_at }}</span></td>
        </tr>
        <tr>
            <td><span class="cost">카테고리 : {{ item.category }}</span></td>
        </tr>
        <tr>
            <td><span class="cost">분실장소 : {{ item.find_place }}</span></td>
        </tr>
        <tr>
            <td><span class="cost">수령위치 : {{ item.get_place }}</span></td>
        </tr>
        <tr>
            <td><span class="get_place">분실물 상태 : {{ item.pickup_check }}</span></td>
        </tr>

    </tbody>
</div>
{% endfor %}
{% endblock %}

</body>
</html>