<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base/base.html' %}

{% block content %}

<div class="keyword_div">
    <table class="detail_table">
        {% for pk in datas %}
        <tr>
            <td><span class="title">분실물명 : {{ pk.get_name }}</span></td>
        </tr>
        <tr>
            <td><span class="date_time">분실시간 : {{ pk.get_at }}</span></td>
        </tr>
        <tr>
            <td><span class="cost">카테고리 : {{ pk.category }}</span></td>
        </tr>
        <tr>
            <td><span class="cost">분실장소 : {{ pk.find_place }}</span></td>
        </tr>
        <tr>
            <td><span class="cost">수령위치 : {{ pk.center_place }}</span></td>
        </tr>
        <tr>
            <td><span class="get_place">분실자 : {{ pk.name }}</span></td>
        </tr>
    </table>
        <input type="button" value="돌아가기" onclick="back()">

        
        {% endfor %}
        
<script>
    const back = () => {
        window.history.back()
    }
</script>

{% endblock %}

</body>
</html>