<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base/base.html' %}

{% block content %}

<style>
    ul{
        list-style:none;
        padding-left:0px;
     }

    li{
        padding-left: 5px;        
    }
</style>

{% for pk in datas %}

<form action="{% url 'keyword_detail' pk.images_id_pk %}" method="POST" id="dataForm"> {% csrf_token %}
  

<div class="keyword_div">
    
    <ul> <!-- 분실이미지 삽입 --> 
        <li> <img src="" alt=""></li>
    </ul>
    <ul> <!-- 분실 정보 -->
        <h4 class="title">분실 품목</h4>
        <li>분실물명 : <span class="content">{{ pk.get_name }}</span></li>
        <li>카테고리 : <span class="content">{{ pk.category }}</span></li>
    </ul>
    <ul>    
        <h4 class="title">분실 정보</h4>
        <li>분실날짜 : <span class="content">{{ pk.get_at }}</span></li>
        <li>분실시간 : <span class="content">{{ pk.get_time }}</span></li>         
        <li>분실장소 : <span class="content">{{ pk.find_place }}</span></li>
        <li>분실자 : <span class="content">{{ pk.name }}</span></li>
    </ul>
    <ul>
        <h4 class="title">보관 장소</h4>
        <li>유실물센터 : <span class="content" id="location">{{ pk.center_place }}</span></li>
        <li>센터번호 : <span class="content">{{ pk.center_number }}</span></li>
    </ul>
    <ul>

    <!-- redirect 해주기 위해 input 해줌 div 태그는 숨김 -->
    <div style="visibility: hidden;">   
        <input type="text" name="get_place" value= {{pk.center_place}}>
        <input type="text" name="category" value= {{pk.category}}> 
    </div>

    {% if pk.name != "-" %} <!-- 이름이 있는 사람만 submit 할 수 있게 해줍니다. -->
    <input name="acha_money_board" type="submit" value="대신 수령 요청하기" id="submitButton"/>
    {% endif %}
    </ul>

    {% endfor %}  
</form>

    <ul>
    <h4> 위치보기 </h4> 
    <div id="map" style="width:100%;height:300px;"></div>
    </ul>    

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1196626d8c73a211eed3a1a57afe54c1&libraries=services"></script>
<script>

    // keyword 
    var keyword = document.getElementById('location').innerHTML;

    // 마커를 클릭하면 장소명을 표출할 인포윈도우 입니다
    var infowindow = new kakao.maps.InfoWindow({zIndex:1});

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
        mapOption = {
            center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
            level: 4// 지도의 확대 레벨
        };  

    // 지도를 생성합니다    
    var map = new kakao.maps.Map(mapContainer, mapOption); 

    // 장소 검색 객체를 생성합니다
    var ps = new kakao.maps.services.Places(); 


    // 키워드로 장소를 검색합니다
    ps.keywordSearch(keyword, placesSearchCB); 


    // 키워드 검색 완료 시 호출되는 콜백함수 입니다
    function placesSearchCB (data, status, pagination) {
        if (status === kakao.maps.services.Status.OK) {
            // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
            // LatLngBounds 객체에 좌표를 추가합니다
            var bounds = new kakao.maps.LatLngBounds();

            for (var i=0; i<data.length; i++) {
                displayMarker(data[i]);    
                bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
            }       

            // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
            map.setBounds(bounds);
        } 
    }

    // 지도에 마커를 표시하는 함수입니다
    function displayMarker(place) {
        // 마커를 생성하고 지도에 표시합니다
        var marker = new kakao.maps.Marker({
            map: map,
            position: new kakao.maps.LatLng(place.y, place.x) 
        });

        // 마커에 클릭이벤트를 등록합니다
        kakao.maps.event.addListener(marker, 'click', function() {
            // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다
            infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>');
            infowindow.open(map, marker);
        });
    }
    </script>

{% endblock %}

</body>
</html>