{% extends 'base/base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'acha_money/css/post_detail.css' %}" rel="stylesheet" type="text/css">
</head>
<body>


{% for item in datas %}
<form action="{% url 'keyword_detail' item.images_id_pk %}" method="POST" id="dataForm"> {% csrf_token %}

    <div class="img">
        <img class="img" src="{% get_static_prefix %}image/{{ item.images_id_pk }}.jpg" alt="image" onerror="this.onerror=null; this.src='{% get_static_prefix %}bootstrap/img/no_image.png'">
    </div>
    <div class="lost_items">
        <ul>
            <div class="phrase">
                <div class="subheading">
                    <li class="subtitle">분실 품목</li>
                    <li class="">　</li>
                </div>
                <div class="subcontent">
                    <li>분실물명 : <span class="title" name="title">{{ item.get_name }}</span></li>
                    <li>카테고리 : <span class="category" name="category">{{ item.category }}</span></li>
                </div>
            </div>
            <hr>
            <div class="phrase">
                <div class="subheading">
                    <li class="subtitle">분실 정보</li>
                    <li class="">　</li>
                </div>
                <div class="subcontent">
                    <li>분실날짜 : <span class="lost_date" name="lost_date">{{ item.get_at }}</span></li>
                    <li>분실장소 : <span class="lost_place" name="lost_place">{{ item.find_place }}</span></li>
                    <li>분실자 : <span class="lost_name" name="lost_name">{{ item.name }}</span></li>
                </div>
            </div>
            <hr>
            <div class="phrase">
                <div class="subheading">
                    <li class="subtitle">보관 장소</li>
                    <li class="">　</li>
                </div>
                <div class="subcontent">
                    <li>유실물센터 : <span class="location" name="get_place" id="location">{{ item.center_place }}</span></li>
                    <li>센터번호 : <span class="content">{{ item.center_number }}</span></li>
                </div>
            </div>
        </ul>
    </div>
    <!-- <input type="button" value="돌아가기" onclick="back()"><br> -->
    {% if item.name != "-" %}
    <div class="basic_block_low">
        <div class="div_content">
            <input name="acha_money_board" type="submit" value="찾아주기" id="submit"/>
        </div>
    </div>
    {% endif %}
    
    <br>
    <!-- 카카오 지도 api -->

        <!-- <h4 class="title"> 관련 위치 보기 </h4>  -->
        <div id="map" style="width:100%;height:300px;"></div>




    <!-- redirect 해주기 위해 input 해줌 div 태그는 숨김 -->
    <div style="visibility: hidden;">   
        <input type="text" name="get_place" value= {{item.center_place}}>
        <input type="text" name="category" value= {{item.category}}> 
        <input type="hidden" name="deal" value="owner">
    </div>  

    </form>
    {% endfor %}  
  

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=45ea87a4f7167e8b96d83f1a53398c90&libraries=services"></script>
<script>

    // keyword 
    var keyword = document.getElementById('location').innerHTML;

    // 마커를 클릭하면 장소명을 표출할 인포윈도우 입니다
    var infowindow = new kakao.maps.InfoWindow({zIndex:1});

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
        mapOption = {
            center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
            level: 5// 지도의 확대 레벨
        };  

    // 지도를 생성합니다    
    var map = new kakao.maps.Map(mapContainer, mapOption); 

    // 장소 검색 객체를 생성합니다
    var ps = new kakao.maps.services.Places(); 


    // 키워드로 장소를 검색합니다
    ps.keywordSearch(keyword, placesSearchCB); 


    // 키워드 검색 완료 시 호출되는 콜백함수 입니다
    function placesSearchCB (data, status, pagination) {
        if (status === kakao.maps.services.Status.OK) {
            // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
            // LatLngBounds 객체에 좌표를 추가합니다
            var bounds = new kakao.maps.LatLngBounds();

            for (var i=0; i<data.length; i++) {
                displayMarker(data[i]);    
                bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
            }       

            // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
            map.setBounds(bounds);
        } 
    }

    // 지도에 마커를 표시하는 함수입니다
    function displayMarker(place) {
        // 마커를 생성하고 지도에 표시합니다
        var marker = new kakao.maps.Marker({
            map: map,
            position: new kakao.maps.LatLng(place.y, place.x) 
        });

        // 마커에 클릭이벤트를 등록합니다
        kakao.maps.event.addListener(marker, 'click', function() {
            // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다
            infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>');
            infowindow.open(map, marker);
        });
    }
    </script>

{% endblock %}

</body>
</html>