<!DOCTYPE html>
<html lang="en">
{% extends 'base/base.html' %}
{% block content %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <style>    
        form {
            text-align: center;
        }
        #submitButton{
            background-color: transparent;
            border: none;
            font-size: 20px;
            font-weight: bold;
        }
        .basic_block_low{
            height: 60px;
            margin-bottom: 10px;
            margin-top: 10px;
        }
        select{
        width: 100%;
        border-color: lightgray;
        font-size: small;
        }
        #insert_date{
            margin-left: 10px;
        }
    </style>
</head>
<body>
<form action="key_result/" method="GET" id="dataForm" onsubmit="return form_check()">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="div_content">
                <ul role="list" class="feat_list">
                    <li class="about_subtitle buy">
                        <div class="subtitle-large">
                            <p class="choose_btn" style="float: left;">
                                1. 잃어버린 물건의 유형을 선택해 주세요.</p>
                            <select name="insert_category" id="insert_category" style="width:180px;height:30px;">
                                <option value="유형 선택" selected disabled hidden>---------- 선  택 ----------</option>
                                <option value="가방">가방</option>
                                <option value="귀금속">귀금속</option>
                                <option value="지갑">지갑</option>
                                <option value="옷">의류</option>                                <option value="휴대폰">휴대폰</option>
                                <option value="전자기기">전자기기</option>
                                <option value="컴퓨터">컴퓨터</option>
                                <option value="신분증&카드">신분증&카드</option>
                                <option value="자동차">자동차</option>
                                <option value="도서용품&서류">도서용품&서류</option>
                                <option value="스포츠용품">스포츠용품</option>
                                <option value="유가증권&현금">유가증권&현금</option>
                                
                            </select>
                        </div>
                    </li>     
                </ul>
            </div>
        </div>
    </div>  

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="div_content">
                <ul role="list" class="feat_list">
                    <li class="about_subtitle buy">
                        <div class="subtitle-large">
                            <p class="choose_btn"  style="float: left;">
                                2. 잃어버린 물건의 색상을 선택해 주세요.</p>
                            <input type="text" name="insert_color" placeholder="ex) 파란색, 빨간색"  id="insert_color">
                        </div>
                    </li>     
                </ul>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="div_content">
                <ul role="list" class="feat_list">
                    <li class="about_subtitle buy">
                        <div class="subtitle-large">
                            <p class="choose_btn" style="float: left;">
                                3. 잃어버린 날짜를 선택해 주세요. </p>
                            <input type="date" name="insert_date" id="insert_date">
                        </div>
                    </li>     
                </ul>
            </div>
        </div>
    </div>

    <!-- <a href=""> -->
    <div class="basic_block_low">
        <div class="div_content">
            <input type="submit" value="찾기" id="submit"/>
        </div>
    </div>
    <!-- </a> -->

</form>


<script>
    // 값이 안 들어가먄 오류가 뜨게 설정
    function form_check() {
        console.log($('#insert_category').val())
        if( !$('#insert_category').val()) { 
            alert("아차차! 카테고리를 선택해 주세요.");  
            return false;
            }

        else if($('#insert_color').val().length==0) {
            alert("아차차! 컬러를 입력해 주세요")
            return false;
        }
        return true;
        }
    // 날짜에 디폴트 값으로 오늘 날짜 들어가게 설정 
    document.getElementById('insert_date').value = new Date().toISOString().substring(0, 10);;
</script>


{% endblock %}

</body>
</html>