
<form action="key_result/" method="GET" id="dataForm"> 
    <h3 class="search_text">키워드로 검색하기</h3>
        <p class="choose_btn">
            1. 잃어버린 물건의 유형<br>
            <select name="insert_category">
                <option value="가방">가방</option>
                <option value="귀금속">귀금속</option>
                <option value="옷">의류</option>
                <option value="스포츠용품">스포츠용품</option>
            </select>
        </p>
        <p class="choose_btn">
            2. 잃어버린 물건의 색상을 입력<br>
            <input type="text" name="insert_color" placeholder="ex) 파란색, 빨간색">
        </p>
        <p class="choose_btn">
            3. 잃어버린 날짜<br>
            <input type="date" name="insert_date">
        </p>
        <p>
            <input type="submit" value="찾기" id="submitButton"/>
        </p>
<form>    